<template>
    <v-card fill-height class="all-pages">
        <v-card-text fill-height>
            <h1>Special:AllPages</h1>
            <p>Liste des pages</p>
            <div v-if="pagesList">
                <v-list two-line dense>
                    <v-list-tile v-for="page in pagesList" :key="page._id" :href="'http://localhost:8081/wiki/' + page.id">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ page.id }}</v-list-tile-title>
                            <v-list-tile-sub-title>{{ page.doc.content.substr(0, 30) }}</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </div>
            <div v-else-if="error">{{error}}</div>
            <div v-else>Chargement...</div>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: 'Special',
    http: {
        root: "http://localhost:8080/api/"
    },
    data() {
        return {
            pagesList: null,
            error: null
        }
    },
    async mounted() {
        try {
            let pagesRequest = await this.$http.get('pages')
            let docs = pagesRequest.body
            console.log(docs)
            if(docs.total_rows > 0) {
                this.pagesList = docs.rows
            } else {
                this.error = 'Ce wiki ne contient aucune page.'
            }
        } catch (error) {
            console.log(error)
            this.error = "Une erreur s'est produite."
        }
    }
}
</script>

<style scoped>
    .all-pages a {
        text-decoration: none;
        color: initial;
    }
</style>