<template>
	<textarea ref="area"></textarea>
</template>

<script>
import simplemde from 'simplemde'
import 'simplemde/dist/simplemde.min.css'

export default {
	props: {
        value: String
    },
    data() {
        return {
            mde: null
        }
    },
	mounted() {
		this.mde = new simplemde({
            element: this.$refs.area,
            autofocus: true,
            spellChecker: false
		})
		this.mde.value(this.value)
		var self = this
		this.mde.codemirror.on('change', function() {
			self.$emit('input', self.mde.value())
        })
	},
	watch: {
		value(newVal) { if (newVal != this.mde.value()) { this.mde.value(newVal) } }
	},
	beforeDestroy() {
		this.mde.toTextArea()
	}
}
</script>