<template>
    <v-card>
        <v-card-text>
            <h1>Recherche</h1>
            <div v-if="searchResults">
                <ul>
                    <v-list two-line dense>
                        <v-list-tile v-for="result in highlightedResults" :key="result._id" :href="'http://localhost:8081/wiki/' + result._id">
                            <v-list-tile-content>
                                <v-list-tile-title v-html="result.title"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="result.content"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </ul>
            </div>
            <div v-else-if="error">{{error}}</div>
            <div v-else>Chargement...</div>
        </v-card-text>
    </v-card>
</template>

<script>
import url from 'url'
import marked from 'marked'
const removeMarked = require('../../remove_marked')

export default {
    name: 'Special',
    http: {
        root: "http://localhost:8080/api/"
    },
    data() {
        return {
            searchResults: null,
            searchString: null,
            error: null
        }
    },
    async mounted() {
        let parsedUrl = url.parse(window.location.href, true)
        if(parsedUrl.query.hasOwnProperty('q') && parsedUrl.query.q !== '') {
            
            try {
                this.searchString = parsedUrl.query.q
                let searchRequest = await this.$http.get('pages?query=' + this.searchString)
                let results = searchRequest.body
                
                if(results.docs.length > 0) {
                    this.searchResults = results.docs
                } else {
                    this.error = 'Aucun résultat.'
                }
            } catch (error) {
                console.log(error)
                this.error = "Une erreur s'est produite."
            }
        } else {
            this.error = 'Recherche vide.'
        }
    },
    computed: {
        highlightedResults() {
            let results = this.searchResults,
                queryWords = this.searchString.replace(/ |\+/, '|'),
                regex = new RegExp('\\b(' + queryWords + ')\\b', 'gim')
            for(var i in results) {
                console.log('result', results[i])
                results[i].title = results[i]._id.replace(regex, '<strong>$1</strong>')
                results[i].content = marked(results[i].content, { renderer: removeMarked })
                results[i].content = results[i].content.replace(regex, '<strong>$1</strong>')
            }
            return results
        }
    }
}
</script>

<style scoped>
    .special-page {
        margin-left: 250px;
    }
</style>