<template>
    <v-autocomplete id="search-input"
        v-model="model"
        :items="items"
        :loading="isLoading"
        :search-input.sync="search"
        :filter="filterItems"
        color="amber darken-4"
        hide-no-data
        @input="selectPage"
        @keyup.enter.native="searchString"
        hide-selected
        item-text="_id"
        append-icon="search"
        @click:append="searchString"
        placeholder="Rechercher sur WikiX"
        return-object
    ></v-autocomplete>
</template>

<script>
export default {
    http: {
        root: "http://localhost:8080/api/"
    },
    data() {
        return {
            model: null,
            search: null,
            isLoading: false,
            rawItems: []
        }
    },
    watch: {
        async search(newVal) {
            try {
                let results = await this.$http.get('pages?query=' + newVal + '&type=title')
                this.rawItems = results.body.docs
            } catch(error) {
                this.rawItems = []
            }
        }
    },
    computed: {
        items() {
            if(this.rawItems.length === 0) return
            return this.rawItems.map((val, index) => {
                val = val._id.replace('_', ' ')
                return val
            })
        }
    },
    methods: {
        searchString() {
            window.location.href = window.location.origin + '/wiki/Special:Search?q=' + this.search.replace(/ /g, '+')
        },
        selectPage(a, b) {
            window.location.href = window.location.origin + '/wiki/' + this.model.replace(/ /g, ' ')
        },
        filterItems(item, queryText, queryItem) {
            return true
        }
    }
}
</script>

<style>
    #search-input {
        caret-color: initial;
    }
    .v-icon {
        color: darkgray !important;
        transform: none !important;
    }
</style>
