<template>
  <v-navigation-drawer permanent app>
    <img width='100%' src='/images/knowledge_sloth.jpg'/>
    <v-list class="pt-0">
      <v-list-tile>
        <search-input></search-input>
      </v-list-tile>
    </v-list>
    <v-divider></v-divider>
    <v-list dense class="pt-0">
      <v-list-tile
        v-for="item in items"
        :key="item.title"
        :href="item.url">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile
        key="random"
        @click="getRandomPage">
        <v-list-tile-action>
          <v-icon>shuffle</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Page au hasard</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile
        key="createPage"
        @click="createPage">
        <v-list-tile-action>
          <v-icon>add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Nouvelle page</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import SearchInput from './SearchInput'

  export default {
    name: 'Sidebar',
    http: {
        root: "http://localhost:8080/api/"
    },    
    data() {
      return {
        items: [
          { title: 'Accueil', url: '/wiki/Accueil', icon: 'home' },
          { title: 'Toutes les pages', url: '/wiki/Special:AllPages', icon: 'clear_all' },
          { title: 'Navigation par thème', url: '/wiki/Special:TagsNav', icon: 'label' }
        ],
        right: null,
        searchQuery: ''
      }
    },
    methods: {
      search() {
          window.location.href = '/wiki/Special:Search?q=' + this.searchQuery.toLowerCase().replace(/ /g, '+')
      },
      createPage() {
          let pageName = prompt('Nom de la page')
          if(pageName !== null) {
              window.location.href = '/wiki/' + pageName
          }
      },
      async getRandomPage() {
          let response = await this.$http.get("pages?random")
          window.location.href = '/wiki/' + response.body._id
      }
    },
    components: {
        'search-input': SearchInput
    }
  }
</script>

<style>
</style>
