<template>
    <v-container fluid fill-height class="pa-0">
        <v-layout fill-height>
            <v-flex xs12>
                <all-pages v-if="specialPage == 'AllPages'"></all-pages>
                <search v-else-if="specialPage == 'Search'"></search>
                <tags-nav v-else-if="specialPage == 'TagsNav'"></tags-nav>
                <div v-else>La page spéciale {{ specialPage }} n'existe pas.</div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import AllPages from './AllPages'
import Search from './Search'
import TagsNav from './TagsNav'

export default {
    name: 'Special',
    data() {
        return {
            specialPage: null
        }
    },
    mounted() {
        let specialName = window.location.pathname.match(/\/wiki\/Special:(.+)/)
        if(specialName !== null) {
            this.specialPage = specialName[1]
        }
    },
    components: {
        'all-pages': AllPages,
        'search': Search,
        'tags-nav': TagsNav
    }
}
</script>

<style scoped>
    .special-page {
        margin-left: 250px;
    }
</style>