<template>
    <v-expansion-panel>
        <v-expansion-panel-content
        v-for="(items, key) in docsList"
        :key="key">
        <div slot="header">{{ key }}</div>
        <v-card>
            <v-card-text class="grey lighten-3">
                <ul>
                    <v-list two-line dense>
                        <v-list-tile v-for="item in items" :key="item._id" :href="'http://localhost:8081/wiki/' + item._id">
                            <v-list-tile-content>
                                <v-list-tile-title v-html="item._id"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.content"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </ul>
            </v-card-text>
        </v-card>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
    import Vue from 'vue'
    import marked from 'marked'
    const removeMarked = require('../../remove_marked')

    Array.prototype.clean = function() {
        return this.filter((elem, pos, arr) => {
            return (arr.indexOf(elem) == pos && elem !== null && elem !== undefined)
        })
    }

    export default {
        name: 'Special',
        http: {
            root: "http://localhost:8080/api/"
        },
        data() {
            return {
                docsList: {},
                error: null
            }
        },
        async mounted() {
            try {
                let pagesRequest = await this.$http.get('pages')
                let docs = pagesRequest.body
                if(docs.total_rows > 0) {
                    let tagsList = docs.rows.map(doc => doc.doc.tags).flat().clean()
                    let self = this
                    tagsList.sort().forEach(async tag => {
                        let response = await self.$http.get('pages?tags=' + tag)
                        Vue.set(self.docsList, tag, response.body.map(doc => doc ? {
                            _id: doc._id, 
                            content: marked(doc.content.substring(0, 150) + '...', { renderer: removeMarked })
                        } : null))
                    })
                } else {
                    this.error = 'Ce wiki ne contient aucune page.'
                }
            } catch (error) {
                console.log(error)
                this.error = "Une erreur s'est produite."
            }
        }
    }
</script>

<style>
</style>