<template>
    <div>
        <markdown-editor :value="text" @input="updateText"></markdown-editor>
        <v-combobox
            v-model="newTags"
            :items="allTags"
            label="Thèmes"
            chips
            hide-selected
            clearable
            solo
            multiple>
            <template slot="selection" slot-scope="data">
                <v-chip
                    :selected="data.selected"
                    close
                    @input="remove(data.item)">
                    {{ data.item }}
                </v-chip>
            </template>
        </v-combobox>
        <v-btn color="success" @click="sendNewText">Envoyer</v-btn>
        <v-btn color="#898989" @click="cancelEdit" flat>Annuler</v-btn>
        <v-alert
            :value="error"
            type="error"
            transition="scale-transition"
            dismissible
            outline>
            {{ error }}
        </v-alert>
    </div>
</template>

<script>
    import MarkdownEditor from './MarkdownEditor.vue'

    Array.prototype.clean = function() {
        return this.filter((elem, pos, arr) => {
            return (arr.indexOf(elem) == pos && elem !== null && elem !== undefined)
        })
    }

    export default {
        name: 'text-edit',
        http: {
            root: "http://localhost:8080/api/"
        },
        props: {
            text: String,
            tags: Array
        },
        data() {
            return {
                newTags: [],
                allTags: [],
                newText: '',
                deleting: false,
                error: null
            }
        },
        async created() {
            this.newText = this.text
            this.newTags = this.tags
            try {
                let pagesRequest = await this.$http.get('pages')
                let docs = pagesRequest.body
                this.allTags = docs.rows.map(doc => doc.doc.tags).flat().clean().sort()
            } catch (error) {
                console.log(error)
                this.error = "Une erreur s'est produite."
            }
        },
        methods: {
            async sendNewText() {
                try {
                    let response = await this.$http.put("pages?path=" + this.pageName, {
                        name: this.pageName,
                        content: this.newText,
                        tags: JSON.stringify(this.newTags)
                    })
                    window.location.hash = ''
                    window.location.reload()
                } catch(e) {
                    this.error = "Impossible de publier les modifications, une erreur s'est produite."
                }
            },
            updateText(newText) {
                this.newText = newText
            },
            cancelEdit() {
                this.$emit('cancelEdit')
            },
            remove (item) {
                this.newTags.splice(this.newTags.indexOf(item), 1)
                this.newTags = [...this.newTags]
            }
        },
        computed: {
            pageName() {
                return window.location.pathname.replace('/wiki/', '')
            }
        },
        components: {
            'markdown-editor': MarkdownEditor
        }
    }
</script>

<style>
</style>
