<template>
    <v-card fluid>
        <v-card-text v-if="!text">Aucun contenu.</v-card-text>
        <v-card-text v-else v-html="markedText"></v-card-text>
    </v-card>
</template>

<script>
    import marked from 'marked'

    export default {
        name: 'text-view',
        props: {
            text: String
        },
        computed: {
            markedText() {   
                return marked(this.text)
            }
        }
    }
</script>

<style>
</style>
