<template>
    <div>
        <div v-if="loaded">
            <v-toolbar 
              color="grey darken-4"
              dark
              tabs>
                <v-toolbar-title v-if="!rename">{{ title }}</v-toolbar-title>
                <!-- RENAME PAGE -->
                <v-layout v-else row>
                    <v-flex xs6>
                        <v-text-field
                          v-model="newTitle"
                          :rules="rules.exists"
                          :hint="newTitleError ? 'Une page existe déjà avec ce nom' : ''"
                          color="amber darken-4"
                        >
                        </v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-layout align-center fill-height class="rename-icons">
                            <v-flex>
                                <v-icon color="green" @click="renamePage">check</v-icon>
                            </v-flex>
                            <v-flex>
                                <v-icon @click="rename = false">cancel</v-icon>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <v-spacer></v-spacer>
                <v-tabs
                left
                slot="extension"
                v-model="active"
                color="grey darken-4">
                    <v-tabs-slider color="amber darken-4"></v-tabs-slider>
                    <v-tab
                    key="view"
                    ripple>
                        <v-icon>remove_red_eye</v-icon>
                        &nbsp;&nbsp;Voir
                    </v-tab>
                    <v-tab
                        key="edit"
                        ripple>
                        <v-icon>edit</v-icon>
                        &nbsp;&nbsp;Modifier
                    </v-tab>
                    <v-menu
                        v-if="active === 0"
                        nudge-bottom="40px"
                        right
                        class="v-tabs__div">
                        <v-btn
                        slot="activator"
                        icon>
                        <v-icon>more_horiz</v-icon>
                        </v-btn>

                        <v-list>
                            <v-list-tile key="rename" @click="rename = true">
                                <v-list-tile-title>Renommer</v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile key="delete" @click="deletePage">
                                <v-list-tile-title>Supprimer</v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
                </v-tabs>
            </v-toolbar>
            <v-tabs-items v-model="active">
                <v-tab-item
                    key="view">
                    <text-view :text='text'></text-view>
                </v-tab-item>
                <v-tab-item
                    key="edit">
                    <text-edit @cancelEdit="active = 0" :text='text' :tags='tags' v-if="active === 1"></text-edit>
                </v-tab-item>
            </v-tabs-items>
            <v-fab-transition>
                <v-btn
                id="top-button"
                v-show="showTopBtn"
                @click="scrollToTop"
                color="amber darken-4"
                dark
                absolute
                top
                right
                fab>
                <v-icon>keyboard_arrow_up</v-icon>
                </v-btn>
            </v-fab-transition>
        </div>
        <v-container fluid v-else>
            <v-layout align-center justify-center row fill-height>
                <v-card>
                    <v-card-text v-if="create">
                        Cette page n'existe pas, cliquez <a href="#edit" v-on:click='createPage'>ici</a> pour la creer.
                    </v-card-text>
                    <v-card-text v-else-if="error">
                        {{ error }}
                    </v-card-text>
                    <v-card-text v-else>
                        Chargement...
                    </v-card-text>
                </v-card>
            </v-layout>
        </v-container>
        <v-dialog
          v-model="deleteErrorDialog"
          max-width="300px"
          >
            <v-card>
                <v-card-text>Une erreur est survenue durant la suppression de la page.</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="green darken-1"
                        flat="flat"
                        @click="deleteErrorDialog = false"
                    >
                        OK
                    </v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import TextView from "./TextView"
import TextEdit from "./TextEdit"
import Vue from "vue"
import VuetifyConfirm from "vuetify-confirm"
Vue.use(VuetifyConfirm, {
    buttonTrueText: "OUI",
    buttonFalseText: "NON"
})

let pageName = window.location.pathname.replace("/wiki/", "")

export default {
    name: "Wrapper",
    http: {
        root: "http://localhost:8080/api/"
    },
    data() {
        return {
            active: null,
            title: "",
            newTitle: "",
            newTitleError: false,
            text: "",
            tags: [],
            create: false,
            showTopBtn: false,
            loaded: false,
            error: null,
            rename: false,
            deleteErrorDialog: false
        }
    },
    components: {
        "text-view": TextView,
        "text-edit": TextEdit
    },
    async mounted() {
        try {
            let response = await this.$http.get(`pages?path=${pageName}`)
            this.text = response.body.content
            this.tags = response.body.tags
            this.title = this.newTitle = response.body._id
            this.loaded = true
        } catch (e) {
            if (e.bodyText === "missing") {
                this.create = true
            } else {
                this.error = "Une erreur est survenue"
            }
        }
        if (window.location.hash === "#edit") {
            this.active = 1
        }
        window.addEventListener("scroll", this.onScroll)
    },
    methods: {
        async renamePage() {
            if (this.newTitle !== this.title) {
                try {
                    let res = await this.$http.post(
                        `pages?path=${this.newTitle}`,
                        {
                            content: this.text,
                            tags: null
                        }
                    )
                    let resDelete = await this.$http.delete(
                        `pages?path=${pageName}`
                    )
                    window.location.href = `/wiki/${this.newTitle}`
                } catch (error) {
                    if (
                        error.body.hasOwnProperty("status") &&
                        error.body.status === 409
                    ) {
                        alert("same name")
                    } else {
                    }
                }
            }
        },
        async deletePage() {
            try {
                let del = await this.$confirm(
                    `Êtes-vous sûr de vouloir supprimer la page <b>${decodeURIComponent(pageName)}</b> ?`
                )
                if (del) {
                    let res = await this.$http.delete(`pages?path=${pageName}`)
                    window.location.href = "/wiki/Accueil"
                }
            } catch (error) {
                this.deleteErrorDialog = true
            }
        },
        async createPage() {
            try {
                let response = await this.$http.post(`pages?path=${pageName}`, {
                    name: pageName,
                    tags: null,
                    content: "Page sans contenu."
                })
                window.location.reload(window.location.pathname + "#edit")
            } catch (e) {
                alert("Une erreur s'est produite, veuillez réessayer plus tard")
            }
        },
        scrollToTop() {
            window.scroll(0, 0)
        },
        onScroll() {
            if (window.scrollY > window.innerHeight) {
                this.showTopBtn = true
            } else {
                this.showTopBtn = false
            }
        }
    },
    watch: {
        active(newVal) {
            if (newVal === 1) {
                window.location.hash = "edit"
                this.rename = false
            } else {
                history.pushState("", document.title, window.location.pathname)
            }
        }
    }
}
</script>

<style>
#top-button {
    opacity: 0.8;
    position: fixed;
    bottom: 30px;
    right: 30px;
    top: initial;
}
#top-button:hover {
    opacity: 1;
}
.rename-icons > div {
    flex-grow: 0;
}
.rename-icons > div:first-child {
    margin: 0 5px 0 10px;
}
.rename-icons .v-icon.green--text {
    color: #4caf50 !important;
}
</style>
