<template>
    <v-app id="app">
        <sidebar></sidebar>
        <v-content>
            <special v-if='special'></special>
            <wrapper v-else></wrapper>
        </v-content>
    </v-app>
</template>

<script>
    import Vue from 'vue'
    import VueResource from 'vue-resource'
    import Vuetify from 'vuetify'
    import Sidebar from './components/Sidebar'
    import Wrapper from './components/Wrapper'
    import Special from './components/Special'

    Vue.use(VueResource)
    Vue.use(Vuetify)

    export default {
        name: 'app',

        http: {
            root: "http://localhost:8080/api/"
        },
        data() {
            return {
                special: false
            }
        },
        created() {
            let pageName = window.location.pathname.replace('/wiki/', '')
            if(pageName.substr(0, 8) === 'Special:') {
                this.special = true
            }
        },
        components: {
            'sidebar': Sidebar,
            'wrapper': Wrapper,
            'special': Special
        }
    }   
</script>

<style>
</style>
